<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

	<title>RPG-Maker</title>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>
	<th:block th:include="fragments/header :: header"></th:block>
	<main class="main-container">
		<div class="container">
			<div th:if="${not #lists.isEmpty(players)}">
				<h2>Player List</h2>
				<table class="table table-striped">
					<tr>
						<th>Id</th>
						<th>Player Id</th>
						<th>Name</th>
						<th>View</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					<tr th:each="player : ${players}">
						<td th:text="${player.id}"><a href="/player/${player.id}">Id</a></td>
						<td th:text="${player.id}">Id</td>
						<td th:text="${player.name}">name</td>
						<td><a th:href="${ '/player/' + player.id}">View</a></td>
						<td><a th:href="${'/player/edit/' + player.id}">Edit</a></td>
						<td><a th:href="${'/player/delete/' + player.id}">Delete</a></td>
					</tr>
				</table>

			</div>
		</div>
	</main>

	<script th:src="@{/js/core.js}" ></script>

</body>
</html>
