<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<title>RPG-Maker</title>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<th:block th:include="fragments/header :: header"></th:block>
	<!-- Main page container -->
	<main class="main-container">


		<!-- Page container -->
		<div class="row">


			<section class="container col-md-4">
				<header class="rpg-title text-center">
					<section class="rpg-title-content">
						<h1 id="playerCardList">Chronicle List</h1>
					</section>
				</header>

				<div id="entries" class="row">
					<div th:each="chronicle : ${chronicles}" class="col-md-12">
						<a th:href="${ '/chronicle/' + chronicle.id}" style="text-decoration:none!important;">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title"  id="name" >Name:  <span th:text="${chronicle.name}" /></h3>
								</div>
								<div class="panel-body">
									<small  id="player" >Master: <span th:text="${chronicle.gameMaster.name}" />  </small>
									<!-- </hr> -->
								</div>
							</div>
						</a>
					</div>
				</div>

			</section>
			<section  class="container col-md-4">
				<header class="rpg-title text-center">
					<section class="rpg-title-content">
						<h1 id="playerCardList">Chronicles Join</h1>
					</section>
				</header>

				<div id="entries" class="row">
					<div th:each="chronicleJoin : ${chroniclesJoin}" class="col-md-12">
						<a th:href="${ '/chronicle/' + chronicleJoin.id}" style="text-decoration:none!important;">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title"  id="name" >Name:  <span th:text="${chronicleJoin.name}" /></h3>
								</div>
								<div class="panel-body">
									<small  id="player" >Master: <span th:text="${chronicleJoin.gameMaster.name}" />   </small>
									<!-- </hr> -->
								</div>
							</div>
						</a>
					</div>
				</div>
			</section>
			<section class="container col-md-4">
				<header class="rpg-title text-center">
					<section class="rpg-title-content">
						<h1 id="playerCardList">Chronicles Master</h1>
					</section>
				</header>

				<div id="entries" class="row">
					<div th:each="chronicleMaster : ${chroniclesMaster}" class="col-md-12">
						<a th:href="${ '/chronicle/' + chronicleMaster.id}" style="text-decoration:none!important;">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3 class="panel-title"  id="name" >Name:  <span th:text="${chronicleMaster.name}" /></h3>
								</div>
								<div class="panel-body">
									<small  id="player" >Master: <span th:text="${chronicleMaster.gameMaster.name}" />   </small>
									<!-- </hr> -->
								</div>
							</div>
						</a>
					</div>
				</div>

			</section>

		</div>

	</main>

	<script th:src="@{/js/core.js}" ></script>
</body>
</html>
