<!DOCTYPE html>
<html>
<head lang="en">
<title>RPG-Maker</title>
<th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
	<th:block th:include="fragments/header :: header"></th:block>
	<div class="container">

		<h1>TESTE HOME</h1>

		<!-- Split button -->
		<div class="btn-group">
			<button type="button" class="btn btn-danger">Action</button>
			<button type="button" class="btn btn-danger dropdown-toggle"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span> <span class="sr-only">Toggle
					Dropdown</span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
